@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;700;800&family=Playwrite+IN:wght@100..400&family=Roboto:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto_font {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.montserrat_alternates_font {
  font-family: "Montserrat Alternates", serif;
  /* font-weight: 400; */
  font-style: normal;
}

.playwrite_in_font {
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.text_outline {
  -webkit-text-stroke: 1px purple;
}
